body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

/* COMMON STYLE
 */
.btn {
  padding: 1em 4em;
  border-radius: 0.5em;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  background-color: rgb(95, 158, 160);
  color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

a {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

header {
  background-color: rgb(224, 212, 196);
}

/* NAVIGATION  */

nav {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fiber {
  font-size: 3em;
  display: inline;
  font-weight: bold;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
}

li {
  display: inline;
  margin: 1em;
}

.links .nav___li_links {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

.register {
  font-weight: bold;
}

.sign_in {
  padding: 0.7em;
  margin-right: 2em;
  color: black;
  text-decoration: none;
  border-bottom: 0.1em dashed black;
}

/* BIG TOP CONTAINER */

.top_container {
  width: 80%;
  margin: auto;
  padding: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SECTION TOP LEFT */

.top_left {
  width: 50%;
}

.rate {
  display: flex;
  align-items: center;
}

.rate_text {
  margin-left: 1em;
}

.main__title {
  font-size: 3em;
  font-weight: 700;
  margin-top: 0.3em;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.top_left__text {
  line-height: 1.2;
  margin-top: 1em;
}

.trial {
  margin-top: 1em;
}

.trial_link {
  margin-left: 1em;
  padding: 0.7em;
  text-decoration: none;
  color: black;
  border-bottom: 0.1em double rgb(12, 12, 12);
}

.checked_horizontal {
  display: flex;
  align-items: center;
}

.icon_checked {
  margin-top: 1.5em;
}

.checked_horizontal__text {
  margin: 0 1em;
  margin-top: 1.5em;
}

/* SECTION TOP RIGHT */

.top_right {
  width: 50%;
}

.main_img {
  max-width: 100%;
}

/* MAIN SECTION  */
main {
  background-color: rgb(241, 232, 218);
}

/* MAIN TOP */

.main__top {
  width: 80%;
  margin: auto;
  padding: 3em;
}

.why {
  color: rgb(95, 158, 160);
  font-weight: bold;
  font-size: 2em;
  background-color: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(27, 144, 173, 0.5) 0px 3px 3px;
}

.main__top_title {
  font-size: 2em;
  margin-top: 1em;
  font-weight: bold;
  width: 40%;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

.main__top_horizontal_container {
  display: flex;
  align-items: center;
  width: 100%;
}

.icon_card {
  width: 30%;
  margin: 1em;
  height: auto;
}

.icon_card img {
  max-width: 100%;
  margin-top: 3em;
}

.icon_card_title {
  margin-top: 1em;
  font-weight: bold;
  font-size: 1.5em;
}

.icon_card_text {
  margin-top: 1em;
  color: grey;
  font-style: italic;
  line-height: 1.5;
}

/* COLORED CONTAINER */

.main__colored_box_container {
  width: 80%;
  margin: auto;
  padding: 3em;
  background-color: rgba(216, 161, 109, 0.733);
  display: flex;
  border-radius: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.main__colored_container_left {
  width: 50%;
  text-align: center;
}

.main__colored_title {
  color: white;
  font-weight: bold;
  font-size: 2em;
  margin-top: 2em;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
}

.main__colored_text {
  color: grey;
  margin-top: 3em;
  font-style: italic;
  line-height: 2;
  width: 50%;
  margin: auto;
  margin-top: 1em;
  text-align: start;
}

.main__colored_btn {
  margin-top: 2em;
  border: 1px solid white;
}

.main__colored_img_container {
  width: 50%;
  margin-bottom: -3em;
}

.main__colored_img {
  max-width: 100%;
}

/* BOTTTOM CARDS  */

.main__bottom_cards {
  width: 80%;
  margin: auto;
}

.bottom__cards_container {
  display: flex;
  margin-top: 4em;
  padding-bottom: 2em;
}

.customer__card {
  border: 1px solid rgb(105, 105, 105);
  width: 30%;
  margin: 1em;
  padding: 2em;
  border-radius: 0.5em;
}

.card_horizontal_info {
  display: flex;
  align-items: center;
}

.horizontal_text_container {
  margin-left: 1em;
}

.info_title {
  color: rgb(29, 121, 90);
  font-weight: bold;
  margin-bottom: 0.1em;
}

.customer__card_info_text {
  font-style: italic;
  margin-top: 1em;
}

.customer__card_btn {
  color: rgb(45, 155, 118);
  font-weight: bold;
  background: none;
  margin-top: 1em;
  padding: 1em 4em;
  width: 100%;
  border: none;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

/* FOOTER */

footer {
  background-color: bisque;
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer__container {
  width: 80%;
  margin: auto;
  padding: 2em;
  display: flex;
}

.footer__left_solo {
  width: 30%;
  flex-direction: column;
}

.footer__title {
  font-weight: bold;
}

.footer__left_solo_text {
  margin-top: 1em;
  line-height: 1.5;
  text-align: start;
  width: 70%;
}

.footer__left_solo_bottom_text {
  margin-top: 1em;
}

.footer__right_links {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.column {
  display: flex;
  flex-direction: column;
}

.column a {
  margin-top: 1em;
  text-decoration: none;
  color: black;
}
